.today-sales-dashboard {
    padding: 1.5rem; /* Default for mobile */
  }
  
  /* Tablet view */
  @media screen and (min-width: 768px) {
    .today-sales-dashboard {
      padding: 5rem;
      padding-top: 1rem;
    }
  }
  
  /* Desktop view */
  @media screen and (min-width: 1024px) {
    .today-sales-dashboard {
      padding: 10rem;
      padding-top: 1rem;
    }
  }